<section class="mt-2 lg:mt-5">
  @for (blog of blogs; track $index) {
    <div
      [routerLink]="['/blog', blog.slug]"
      class="transition ease-in-out duration-150 hover:cursor-pointer hover:opacity-75"
    >
      <div
        class="w-full flex flex-col lg:grid lg:grid-cols-3 gap-4 pl-2.5 md:pl-3 lg:pl-5"
      >
        <div class="lg:col-span-2 break-words">
          <h2 class="line-clamp-3 lg:line-clamp-2 text-2xl font-bold">
            {{ blog.title }}
          </h2>
        </div>
        <div class="hidden lg:block text-right pr-5">
          <span class="text-sm lg:text-md">
            <time class="text-xs text-secondary">
              {{ blog.created | date: 'mediumDate' }}
            </time>
          </span>
        </div>
        <div class="lg:col-span-3 break-all">
          <p class="line-clamp-2 lg:line-clamp-3 text-base lg:text-lg">
            {{ blog.description }}
          </p>
        </div>
        <div class="block lg:hidden text-right pr-5">
          <span class="text-sm lg:text-md">
            <time class="text-xs text-secondary">
              {{ blog.created | date: 'mediumDate' }}
            </time>
          </span>
        </div>
      </div>
      <div class="divider"></div>
    </div>
    @if (loading) {
      <app-loading-spinner />
    }
  } @empty {
    <app-placeholder-message
      icon="bootstrapEmojiDizzy"
      message="No blogs found."
    />
  }
  @if (maxLoadMoreCount <= 8 && hasMoreBlogs) {
    <button class="btn btn-primary mt-4" (click)="loadMoreBlogs()">
      Load More
    </button>
  } @else {
    <app-placeholder-message
      icon="bootstrapEmojiDizzy"
      message="No more blogs found."
    />
  }
</section>
