<div class="hero min-w-full bg-transparent">
  <div class="hero-content text-left">
    <div class="">
      <h1 class="text-5xl font-bold">
        Latest <span class="text-primary">Blogs</span>
      </h1>
      <p class="py-6 text-2xl font-bold break-words">
        I regularly write about web development, programming, and tech. It's a
        great way to learn and grow as a developer since you can't write about
        something you don't understand.
      </p>
    </div>
  </div>
</div>
<div class="flex justify-center flex-col" style="align-items: center">
  @for (blog of latestBlog;track $index) {
    <div
      class="card bg-base-100 shadow-2xl max-w-7xl w-full transition duration-400 hover:opacity-95 hover:cursor-pointer px-3 xl:px-0"
      style="margin-bottom: 20px"
    >
      <figure><img [src]="'assets/blog/' + blog.banner" [alt]="blog.bannerAlt" width="auto" height="auto"/></figure>
      <div class="card-body">
        <p>Posted {{ blog.created | relativeTime }}</p>
        <h2 class="card-title">{{ blog.title }}</h2>
        <div>
          @for (tag of blog.tags;track $index) {
            <p class="badge badge-sm badge-ghost py-3 mr-2">
              {{ tag }}
            </p>
          }
        </div>
      </div>
    </div>
  }
</div>
