<div class="hero min-w-full py-5 bg-transparent">
  <div class="hero-content text-left">
    <div class="">
      <h1 class="text-5xl font-bold">
        That's <span class="text-primary">me</span>
      </h1>
      <p class="py-6 text-2xl font-bold break-words">
        My fascination with technology began in my early years. This childhood
        curiosity evolved into a deep passion for computer science and software
        engineering, shaping my path in live. My journey in tech has been driven
        by a relentless pursuit of knowledge and a commitment. With
        {{ yearsOfExperience }} years of experience and specializing in web
        development, I have honed my skills in crafting robust applications. I
        also love working full-stack and set importance on open-source and clean
        code. Beyond technical stuff, I love to socialise with people, go out
        with friends and enjoy life.
      </p>
    </div>
  </div>
</div>
