<div class="navbar bg-base-100">
  <div class="flex-1">
    <a class="btn btn-ghost text-xl" routerLink="/">Daniel Jancar</a>
  </div>
  <div class="flex-none">
    <div class="dropdown dropdown-end">
      <div class="btn m-1" role="button" tabindex="0">
        <svg
          class="inline-block w-5 h-5 stroke-current"
          fill="none"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
          ></path>
        </svg>
      </div>
      <ul
        class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52"
        tabindex="0"
      >
        <li routerLink="/"><a>Home</a></li>
        <li routerLink="/blog"><a>Blog</a></li>
      </ul>
    </div>
  </div>
</div>
