<footer class="footer footer-center p-10 bg-base-200 text-base-content rounded">
  <nav class="grid grid-flow-col gap-4">
    <a class="link link-hover">Terms</a>
    <a class="link link-hover">Cookies</a>
    <a class="link link-hover">Privacy</a>
  </nav>
  <aside>
    <p>Copyright © {{ currentYear }} - All right reserved by Daniel Jancar</p>
  </aside>
  <nav>
    <div class="grid grid-flow-col gap-4">
      <a href="https://github.com/danieljancar">
        <ng-icon class="text-2xl" name="bootstrapGithub"></ng-icon>
      </a>
      <a href="https://www.linkedin.com/in/danieljancar/">
        <ng-icon class="text-2xl" name="bootstrapLinkedin"></ng-icon>
      </a>
      <a href="https://stackoverflow.com/users/20283236/daniel-jancar">
        <ng-icon class="text-2xl" name="bootstrapStackOverflow"></ng-icon>
      </a>
    </div>
  </nav>
</footer>
